.banner {
  :global(.slick-dots) {
    bottom: -20px;
    display: flex !important;
    justify-content: center;
    gap: 8px;

    li {
      width: auto;
      height: auto;
      margin: 0;

      &:global(.slick-active) {
        button {
          background-color: rgba(0, 0, 0, 0.8);
          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    button {
      width: 40px;
      height: 4px;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      &:before {
        display: none;
      }
    }
  }
}
