.banner {
  :global(.slick-dots) {
    bottom: -20px;
    display: flex !important;
    justify-content: center;
    gap: 8px;

    li {
      width: auto;
      height: auto;
      margin: 0;

      &:global(.slick-active) {
        button {
          width: 40px;
          height: 8px;
          background-color: var(--color-foreground);
          border-radius: 4px;
        }
      }
    }

    button {
      width: 8px;
      height: 8px;
      padding: 0;
      background-color: #d1d5db;
      border-radius: 50%;
      transition: all 0.3s ease;
      &:before {
        display: none;
      }
      &:hover {
        background-color: #9ca3af;
      }
    }
  }

  .cornerButton {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      0% 100%
    );

    span {
      background-color: white;
    }
  }
}

.circleHoverEffect {
  .maskPath {
    stroke-width: 22;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dashoffset 0.5s ease-out;
  }
}
