.banner {
  :global(.slick-dots) {
    bottom: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;

    li {
      width: auto;
      height: auto;
      margin: 0;

      &:global(.slick-active) {
        button {
          background-color: rgba(255, 255, 255, 1);
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }

    button {
      width: 40px;
      height: 4px;
      padding: 0;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 2px !important;
      &:before {
        display: none;
      }
    }
  }

  &.darkDots {
    :global(.slick-dots) {
      li {
        &:global(.slick-active) {
          button {
            background-color: rgba(0, 0, 0, 0.8);
            &:hover {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }

      button {
        background: rgba(0, 0, 0, 0.3);
      }

      li.slick-active button:hover {
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
