.homeIntro {
  $root: &;

  padding-top: 60px;
  overflow: hidden;
  background-color: get-color('white');

  @include pc-stand-up {
    padding-top: 120px;
  }

  &_title {
    margin-top: 0;
    margin-bottom: 36px;
    line-height: 1.1;
    min-height: 123px;

    @include sp {
      display: grid;
      min-height: 93px;
    }

    @include pc {
      margin-bottom: 80px;
      line-height: 1.3;
    }
  }

  &_bigTitle {
    line-height: 1.1;
    font-size: 44px;
    font-weight: $font-weight-bold;

    @include pc {
      margin-bottom: 10px;
    }

    @include pc-stand-down {
      font-size: 36px;
    }

    @include sp {
      font-size: 22px;
      line-height: line-height(42, 32);
      letter-spacing: -0.02em;
      white-space: nowrap;
    }
  }

  &_subTitle {
    display: block;
    font-weight: $font-weight-semi-bold;
    font-size: 32px;

    @include pc-stand-down {
      font-size: 24x;
    }

    @include sp {
      font-size: 18px;
      line-height: line-height(32, 24);
    }
  }

  &_wrapperText {
    padding-left: $width-sidebar * 1;
    pointer-events: none;
    user-select: none;

    #{$root}_marquee {
      overflow: unset !important;
    }

    @include pc-stand-up {
      margin-left: calc(50vw + #{- div($width-sidebar, 2) - div($width-content, 2)});
    }

    @include pc-stand-down {
      margin-left: $width-padding;
    }
  }

  &_marquee {
    > div {
      &:last-child {
        margin-left: 16px;

        @include pc {
          margin-left: 40px;
        }
      }
    }
  }

  &_text {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    overflow: hidden;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    line-height: line-height(64, 40);

    @include pc {
      padding-bottom: 11px;
    }

    &:not(:first-child) {
      margin-left: 16px;

      @include pc {
        margin-left: 40px;
      }
    }
  }

  &_image {
    display: inline-flex;
    margin: 0 16px;
    width: auto;

    // @include pc {
    //   margin: 0 40px;
    // }

    &:first-child {
      margin-right: 16px !important;
      margin-left: 0;

      @include pc {
        margin-right: 40px !important;
      }
    }
  }

  &_buttonContainer {
    margin-top: 60px;
    text-align: right;

    @include pc {
      margin-top: 80px;
    }
  }
}
