.menuOverlay {
  position: fixed;
  inset: 0;
  background-image: url('/menu-bg.jpg');
  background-color: var(--color-foreground);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  // transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  transform-origin: calc(100% - 60px) 20px;

  clip-path: circle(0% at 97% 2.5%);
  /* Ensures buttery animation */
  transition: clip-path 0.5s $animation-base;
  will-change: clip-path;

  &.isOpen {
    // mask-size: 300% 300%;
    // transform: scale(1);
    // border-bottom-left-radius: 0;
    // animation: borderRadius 0.5s;
    // clip-path: inset(0 0 0 0);
    clip-path: circle(200% at 97% 2.5%);
  }
}

// position: absolute;
// top: calc(90px - 112vw);
// right: calc(100px - 112vw);
// width: 224vw;
// height: 224vw;
// border-radius: 50%;
// background-color: #1f1e1d;
// transform-origin: center;

// .curveContainer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   z-index: 1;
//   overflow: hidden;
//   clip-path: circle(0% at 0% 100%);
// }

// .curveSvg {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   transform-origin: 0% 100%;
// }

// .curvePath {
//   stroke: #ffffff;
//   stroke-width: 0;
//   fill: #ffffff;
//   transform-origin: 0% 100%;
// }

.menuContent {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 88px;
  display: flex;
  flex-direction: column;
  color: #ffffff;

  @include sp {
    padding: 40px 30px;
  }
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  @include sp {
    margin-bottom: 40px;
  }
}

// .headerActions {
//   display: flex;
//   align-items: center;
//   gap: 20px;
// }

.menuMain {
  display: grid;
  grid-template-columns: 454px 1fr;
  gap: 44px;
  flex: 1;
  align-items: end;
  padding-bottom: 118px;

  @include tablet-down {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menuNav {
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
}

.menuLink {
  font-size: 54px;
  font-weight: 700;
  transition: color 0.3s ease;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  width: fit-content;

  > span {
    position: relative;
  }

  &:before {
    position: absolute;
    top: div(25, 48) + em;
    right: div(-5, 48) + em;
    // width: 100%;
    left: div(-5, 48) + em;
    height: div(8, 32) + em;
    content: '';
    background-color: get-color('green');
    transition:
      transform 0.5s $animation-base,
      background-color 0.25s ease;
    transform: scale(0, 1);
    transform-origin: right center;
  }

  @include tablet-down {
    font-size: 48px;
  }

  @include sp {
    font-size: 36px;
  }

  @include hover {
    &:before {
      transform-origin: left center;

      @include pc {
        transform: scale(1);
      }
    }
  }

  &:focus {
    &:before {
      @include sp {
        transform: scale(1);
      }
    }
  }

  @include make-color('background', 'primary', ':before');
  @include make-color('background', 'category', ':before');
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contactLink {
    // font-size: 18px;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-foreground);
    }
  }

  .contactAddress {
    line-height: 1.6;
    margin-top: 8px;
  }

  .socialLinks {
    display: flex;
    gap: 20px;
    margin-left: -16px;

    .socialLink {
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
    }
  }
}
