@use 'sass:map';

// font resources
$font-family-base: 'Inter';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// break point resources
$breakpoint-sp: 751px;
$breakpoint-tb: 992px;
$breakpoint-pc: 1440px;
$breakpoint-stand: 1272px;
$delta: 0.1;

// content width
$width-content-big: 1320px;
$width-content-large: 1200px;
$width-content-small: 960px;
$width-content: 1080px;
$width-padding: 36px;
$width-padding-small: 20px;
$width-sidebar: 120px;

// zindex resources
$zindex: (
  background: -1,
  neutral: 0,
  foreground: 1,
  keyvisual: 10,
  globalheader: 350,
  sidebar: 300,
  menu: 400,
  menubutton: 401,
  popup: 500,
  modal: 600,
  loading: 700,
);

// color resources
$colors: (
  // BASIC COLOR
  'black': #000000,
  'white': #ffffff,
  'base': #202020,
  'green': #1cdba6,
  'purple': #d4ced9,
  'grey': (
    caption: #aaaaaa,
    base: #dcdcdc,
    line: #ededed,
    bg: #f8f8f8,
  ),
  // PRIMARY COLOR
  'primary': (
      'sora': #5fa8e3,
      'midori': #2a9074,
      'hikari': #fdb927,
      'kaze': #36558f,
    ),
  'category': (
    'business': #43255a,
    'nature': #1cdba6,
    'culture': #ee4b6a,
    'network': #b4c0fe,
    'education': #f1887b,
    'medical': #79ddf2,
    'transportation': #29339b,
  ),
  'bus': (
    'blue': #203bfc,
    'red': #fe1a1f,
    'brown': #c43016,
    'pink': #fe4dfd,
    'yellow': #ffbe2b,
    'green': #a4fe2c,
  ),
  'life': #fff1d3,
  'pattern': #f5f5f5,
  'light': (
    // 'sora': #5fa8e3,
    'hikari': #fdb927,
    'nature': #1cdba6,
    'culture': #ee4b6a,
    'blue': #203bfc,
    // 'network': #b4c0fe,
    // 'education': #f1887b,
    'medical': #79ddf2,
    'red': #fe1a1f,
    'pink': #fe4dfd,
    'yellow': #ffbe2b
  )
);
$primary-color: map.keys(map.get($colors, 'primary'));
$category-color: map.keys(map.get($colors, 'category'));
$light-color: map.keys(map.get($colors, 'light'));
$bus-color: map.keys(map.get($colors, 'bus'));

// animation speed resources
$animation-base: cubic-bezier(0.66, 0, 0.34, 1);
$animation-bar: cubic-bezier(0.33, 0, 0.24, 1);
$animation-appear: cubic-bezier(0.73, 0, 0.83, 1);
$animation-ease: 0.25s 0.1s ease;
$animation-default: 0.25s ease;

// icons list
$icon-shapes: (
  'arrow-down',
  'double-quote',
  'fb',
  'hikari',
  'ins',
  'kaze',
  'midori',
  'sora',
  'twi',
  'youtube',
  'location',
  'two-side-arrow',
  'time',
  'route'
);
